html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#3A5A40, #588157, #A3B18A);
    min-height: 100vh;
    overflow-y: hidden;
}

header {
    text-align: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add {
    width: 3rem;
    height: 3rem;
    background: linear-gradient(#588157, #1A5031);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#shelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#shelf div {
    background: linear-gradient(#588157, #1A5031, #0C2C1C);
    color: white;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
}

#shelf button {
    color: white;
    background-color: rgba(0, 0, 0, 0.396);
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    float: right;
}